@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    
    font-family: 'Poppins', sans-serif;
    
}
.logo{
   width: 20%;
}
.data-title,.reactionstitle{
    color: white;
    font-weight: 600;
    font-size: 26px;
}
.aboutbtn{
    background-color: #FF3939;
    color: white;
}