@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    
    font-family: 'Poppins', sans-serif;
    
}
.card-body{
    background-color: #313043;
    color: white;
}
.masonry { 
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px; /* Adjustment for the gutter */

  }
 
  
  .masonry-brick {
    flex: auto;
    height: 300px;
    min-width: 150px;
    margin: 0 8px 8px 0; /* Some gutter */
  }
  .masonry-brick:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-brick:nth-child(4n+2) {
    width: 325px;
  }
  .masonry-brick:nth-child(4n+3) {
    width: 180px;
  }
  .masonry-brick:nth-child(4n+4) {
    width: 380px;
  }
.logo{
   width: 20%;
}
.searchbar{
    width: 587px;
    height: 58px;
    background-color: #313043;
    border-radius: 8px;
    border:none;
    font-size:24px;
    color:#4C4B61;
    padding: 10px;
  
}
.searchbar::placeholder{
    padding: 10px;
    font-size:24px;
    color:#4C4B61;
}
.searchbar:focus{
    background-color: #E4E4E4;
    font-size:24px;
    color:#4C4B61;
    padding: 20px;
}


.data-title p{
    color: white;
    font-weight: 500;
    font-size: 28px;
}