
.flex-container-layout{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;


}
.flex-container-layout > div > img{
 height: 300px;
 width: 300px;
 margin: 5px;
 max-width: 300px;
 border-radius: 16px;
 display: block;

}
.gif-container {
  position: relative;
  width: auto;
  max-width: 400px;
}
.gif-container:hover .overlay {
  opacity:0.8;
}
