.masonry { 
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px; /* Adjustment for the gutter */


  }
  .masonry-brick {
    flex: auto;
    height: 300px;
    min-width: 150px;
    margin: 0 8px 8px 0; /* Some gutter */

  }
  .masonry-brick:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-brick:nth-child(4n+2) {
    width: 325px;
  }
  .masonry-brick:nth-child(4n+3) {
    width: 180px;
  }
  .masonry-brick:nth-child(4n+4) {
    width: 380px;
  }

.flex-container-layout{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;


}
.flex-container-layout > div > img{
 height: 180px;
 margin: 4px;
 border-radius: 16px;
}